/* Обычное начертание */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Жирное начертание */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Курсив */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Жирный курсив */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Жирный курсив */
@font-face {
    font-family: 'Cruinn';
    src: url('fonts/cruinn/cruinn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* общие настройки страницы */
body {
    margin: 0;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Задает фон, чтобы частицы были за основным содержимым */
    background: linear-gradient(to bottom, #a38cff, #a173c7); /* Задайте цвет фона, если требуется */
}

/* выводим сообщение о конце игры и инструкцию по центру своих блоков */
#results, #instructions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* затемняем фон */
    background-color: rgba(20, 20, 20, 0.4);
}

/* сообщение о конце игры не показываем на старте */
#results {
    display: none;
    cursor: default;
}

/* отступы в текстах */
#results .content,
#instructions .content {
    margin: 0 auto;
}

#score {
    font-family: "Cruinn", sans-serif;
    position: absolute;
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    top: 10%; /* Оставляем отступ сверху на 10% */
    left: 50%; /* Центрируем по горизонтали */
    background-color: rgba(0, 0, 0, 0.2); /* Прозрачный черный фон */
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 200px;
    transform: translate(-50%, -50%); /* Центрируем по вертикали и горизонтали */
    backdrop-filter: blur(100px); /* Размытие фона */
    border-radius: 30px; /* Закругление углов, если нужно */
    overflow: hidden; /* Обрезка контента, выходящего за границы */
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: 7px; /* Сдвигаем текст влево на 5 пикселей */
}


#score::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px; /* Размытие на 50px слева */
    right: -50px; /* Размытие на 50px справа */
    bottom: 0;
    background: inherit; /* Наследуем фон, чтобы применить размытие к краям */
    filter: blur(50px); /* Степень размытия */
    z-index: -1; /* Размытие за основным контентом */
}


/* Стиль для кнопок */
#btn_again, #btn_start {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: bolder;
    padding: 20px 50px; /* Уменьшение padding для кнопок */
    border: none;
    background: rgb(92,76,218);
    background: linear-gradient(248deg, rgba(92,76,218,1) 0%, rgba(115,101,224,1) 34%, rgba(125,112,226,1) 49%, rgba(130,117,227,1) 65%, rgba(133,120,228,1) 75%, rgba(141,129,230,1) 100%);
    color: #eae3e3;
    font-size: 24px; /* Уменьшение размера шрифта для кнопок */
    border-radius: 10px;
    margin-top: 350px;
}

#blurOverlay {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 800px; /* Высота размытия */
    pointer-events: none; /* Элемент не будет перехватывать клики */
    background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    z-index: 1000; /* Поверх всех элементов */
}
