/* Обычное начертание */
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Жирное начертание */
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Курсив */
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Жирный курсив */
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Жирный курсив */
@font-face {
    font-family: 'Cruinn';
    src: url('../assets/fonts/cruinn/cruinn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* общие настройки страницы */
body {
    margin: 0;
    overflow: hidden;
    user-select: none;
}

* {
    user-select: none; /* Запрещаем выделение текста на всех элементах */
}

button, input {
    user-select: none; /* Запрещаем выделение текста на кнопках и полях ввода */
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Задает фон, чтобы частицы были за основным содержимым */
    background: linear-gradient(to bottom, #a38cff, #a173c7); /* Задайте цвет фона, если требуется */
}

/* выводим сообщение о конце игры и инструкцию по центру своих блоков */
#results, #instructions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* затемняем фон */
    background-color: rgba(163, 163, 163, 0.2);
}

/* сообщение о конце игры не показываем на старте */
#results {
    display: none;
    cursor: default;
}

/* отступы в текстах */
#results .content,
#instructions .content {
    margin: 0 auto;
}

#score {
    font-family: "Courier New", sans-serif;
    position: absolute;
    color: #ffffff;
    font-size: 60px;
    padding: 0;
    margin: 0;
    top: 10%; /* Оставляем отступ сверху на 10% */
    left: 50%; /* Центрируем по горизонтали */
    background-color: rgba(0, 0, 0, 0.2); /* Прозрачный черный фон */
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 1.6;
    transform: translate(-50%, -50%); /* Центрируем по вертикали и горизонтали */
    backdrop-filter: blur(100px); /* Размытие фона */
    border-radius: 30px; /* Закругление углов, если нужно */
    overflow: hidden; /* Обрезка контента, выходящего за границы */
    display: flex;
    align-items: center;
    justify-content: center;
}

#score::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px; /* Размытие на 50px слева */
    right: -50px; /* Размытие на 50px справа */
    bottom: 0;
    background: inherit; /* Наследуем фон, чтобы применить размытие к краям */
    filter: blur(50px); /* Степень размытия */
    z-index: -1; /* Размытие за основным контентом */
}

.container-for-word
{
    margin: 0 auto;
    position: relative;
    top: 190px;
}

.small-container
{
    width: 70%;
}

.large-container, .medium-container
{
    width: 100%;
}

.row
{
    display: flex;
    justify-content: space-between;
}

.letter
{
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2); /* Прозрачный черный фон */
    border-radius: 20%;
    backdrop-filter: blur(100px); /* Размытие фона */
    text-transform: capitalize;
}

.small-letter
{
    font-size: 60px;
    padding: 5px 10px;
}

.medium-letter
{
    font-size: 50px;
    padding: 5px 10px;
}

.large-letter
{

}

/* Стиль для кнопок */
#btn_again, #btn_start {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: bolder;
    padding: 20px 50px; /* Уменьшение padding для кнопок */
    border: none;
    background: linear-gradient(90deg, #FFE073, #8D41D6, #4284D3);
    background-size: 200% 200%;
    animation: gradient-flow 4s ease infinite;
    transition: background 0.5s;
    color: #eae3e3;
    font-size: 24px; /* Уменьшение размера шрифта для кнопок */
    border-radius: 10px;
    margin-top: 350px;
    position: relative;
    z-index: 9999;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Добавляем тень */
}

#btn_again:hover, #btn_start:hover {
    background-position: right center; /* Change the gradient position on hover */
}


@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#blurOverlay {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 800px; /* Высота размытия */
    pointer-events: none; /* Элемент не будет перехватывать клики */
    background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    z-index: 1000; /* Поверх всех элементов */
}

